.vs/
Project/x64/
Project/Figment.vcxproj.user
x64/
Project/resources/fonts/
Project/characters/
Project/import/
Project/embeddings/
Project/old_dlls/
Project/profiles/
Project/resources/debug_script.txt
Project/*.txt
Libraries/SDL3/3.2.12/
Libraries/llama.cpp/b5237/dlls/
Libraries/temp/
*.psd
Project/settings.ini
Project/llama.dll
Project/ggml.dll
Project/ggml-base.dll
Project/ggml-cuda.dll
Project/ggml-cpu.dll
Project/cublas64_12.dll
Project/cudart64_12.dll
Project/cublasLt64_12.dll
Project/bin/
