.vs/
Project/x64/
Project/project.vcxproj.user
x64/
Project/fonts/
Project/llama.dll
Project/ggml.dll
Project/ggml-base.dll
Project/ggml-cuda.dll
Project/ggml-cpu.dll
Project/cublas64_12.dll
Project/cudart64_12.dll
Project/cublasLt64_12.dll
Project/characters/
Project/resources/debug_script.txt
Project/*.txt
Project/resources/fonts/
Project/embeddings/
Libraries/llama.cpp/b5237/dlls/
Libraries/temp/
Project/old_dlls/
Project/profiles/
Libraries/SDL3/3.2.12/
